services:
  app:
    build: .
    container_name: sprintly-backend
    restart: unless-stopped
    ports:
      - "5555:5555"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

    command: npm run dev
  db:
    image: postgres:16.9-alpine
    container_name: postgres-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
