.loginPage {
  display: flex;
  flex-direction: column; /* Stack vertically on small screens */
  min-height: 100vh;
  background: linear-gradient(135deg, #eab308, #a16207);
  padding: 2rem;
}

.loginLeft,
.loginRight {
  padding: 2rem;
}
.loginLeft {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.loginLeft h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.loginLeft p {
  font-size: 1rem;
  opacity: 0.8;
  margin-top: 0;
}

.loginRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fbf7ef;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginForm h2 {
  text-align: center;
}

.loginForm input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
}

.loginForm button {
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .loginPage {
    flex-direction: row; /* Side by side on larger screens */
  }
  .loginLeft,
  .loginRight {
    flex: 1;
  }
}
